.Toggle{
    padding : 10px 0px;
    display: flex;
    flex-flow: column;
    width:40px;
    box-sizing: border-box;
    cursor:pointer
}

.Toggle div{
width: 80%;
margin: 4px 2px;
height: 3px;
background-color: white;
}


@media (min-width:500px){
    .Toggle{
        display: none;
    }
}