.PlasmaFilter{
    margin:15px 100px;
    box-sizing: border-box;
    padding:15px;
    box-shadow: 0px 2px 3px 4px  #ccc;
    text-align: center;
    align-items: center;
}

.headerClass{
    text-align: center;
    align-items: center;
    line-height: 0.5em;
}
.formClass{
    display:flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.ButtonClass {
    text-align: center !important;
}
.toggleButton{
    display: inline;
}

@media(max-width:500px){
    .PlasmaFilter{
        margin:15px 10px;
    }
}